<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="myscript.js"></script>
</head>
<body>
    <h1 align="center">Added Students</h1>
    <table align="center" border="1">
        <tr align="center" style="background-color: lightblue;">
    
            <th>Student name</th>
            <th>EmailId</th>
            <th>Deptartment</th>
        </tr>
        <tbody id="stu1"></tbody>
    </table>
    <script type="text/javascript">
        window.onload=function(){
            showaddedstudents();
        };
    </script>
</body>
</html>